include LICENSE.txt
include README.md
include CONTRIBUTING.md

include machinic_tangle/iot_homie_button.gsl
include machinic_tangle/model_button.xml
include machinic_tangle/mosquitto.conf
include machinic_tangle/homie_associate.json
include machinic_tangle/pathling.tx
include machinic_tangle/pathling_spec.txt
